<script type="text/javascript">
    function changeCookieValue(select){
        var newUserGroup = select.value;
        if(newUserGroup.length > 0){
            document.cookie = "USER_GROUP=" + newUserGroup + "; path=/";
            window.location.reload(true);
        }
    }
</script>

<select id="demo" onchange="changeCookieValue(this)">
    <option value="">Select to load different view</option>
    <option value="ANONYMOUS">Anonymous view</option>
    <option value="CORPORATE">Corporate view</option>
    <option value="CUSTOMER">Customer view</option>
    <option value="COOLKIDS">CoolKids view</option>
</select>
